* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
}

#map {
    height: 500px;
    width: 100%;
    position: relative;
}

.row {
    height: 100%;
}

.off-canvas-wrapper,
.off-canvas-wrapper-inner {
    height: 100%;
}

.custom-scrollbar {
    height: 510px;
    overflow-y: scroll;
    background-color: #849eaf;
}

.off-canvas-content {
    height: 100%;
}

/* To style the document scrollbar, remove `.custom-scrollbar` */

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#headerPic {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -65px;
    margin-bottom: -130px;
}

select, input {
    margin-top: 5px;
}

.jumbotron {
    background: rgb(39, 38, 38);
    border-radius: 0px;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.truncate-text:hover {
    overflow: visible;
    white-space: normal;
    width: auto;
}

.truncate-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 210px;
}

/* .eventTitle {
    padding-top: 25px;
} */

.cards {
    border: solid rgb(71, 71, 71) 3px;
    /* position: relative; */
    width: 100%;
    max-width: 800px;
    /* margin: 0 auto; */
    max-height: 100%;
    min-height: 156px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    background: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eventPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    /* position: relative;
    float: left; */
    max-height: 55px;
    max-width: 200px;
    /* border-top-left-radius: 6px; */
    margin-top: 20px;
}

@media only screen and (max-width: 576px) {
    #headerPic {
        max-width: 250px;
        margin-top: -45px;
    }
}

#submitSearch {
    margin-top: 18px;
}

/* Modal Content */
.modal-content {
    background-color: #dbdbdb;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    margin: 20px;
    padding: 0;
}

.button:before,
.button:after {
    border: 0 solid transparent;
    transition: all 0.25s;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}

.button {
    background-color: #2199e8;
    border: none;
    color: #ffffff;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    margin-bottom: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.button:before {
    border-top: 2px solid #2199e8;
    left: 0px;
    top: -5px;
}

.button:hover {
    background-color: #2199e8;
}

.button:after {
    border-bottom: 2px solid #2199e8;
    bottom: -5px;
    right: 0px;
}

.button:hover:before,
.button:hover:after {
    height: 100%;
    width: 100%;
}

#onLoad {
    margin-bottom: 0px;
    height: 100%;
}

#spyGlass {
    max-width: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

#onLoadH2 {
    text-align: center;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -1rem, 0);
    }
}

.bouncing-loader {
    display: flex;
    justify-content: center;
}

.bouncing-loader>div:nth-child(2) {
    animation-delay: 0.2s;
}

.bouncing-loader>div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #8385aa;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader>div:nth-child(3) {
    animation-delay: 0.4s;
}

.searchParam {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.callout {
    margin-bottom: 0px;
}

.fb-share-button {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#favSearch {
    font-weight: bold;
    font-size: large;
}

#resultCard {
    height: 100%;
}

.truncate-text {
    margin-top: 20px;
    font-weight: bold;
}

.startTime {
    margin-top: 10px;
}